[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djoser = "*"
django-cors-headers = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
pillow = "*"
python-dotenv = "*"
setuptools = "==57.5.0"
celery = "*"
django = "*"
django-celery = "*"
django-celery-beat = "*"
pymupdf = "*"
qrcode = {extras = ["pil"], version = "*"}
numpy = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
